# Configuration file

settings {
    B:AlertEnabled=true
    S:OnMorningText=Good News Ever-- I mean Good Morning Everyone!
    S:OnSleepText=is now sleeping.
    S:OnWakeText=has left their bed.
    I:SleeperPerc=1
}


